<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <!--https://msdn.microsoft.com/en-us/library/ms752250%28v=vs.110%29.aspx-->
    <services>
      <service behaviorConfiguration="WingmanServiceBehavior" name="WingmanLib.WingmanService">
        <endpoint address="net.pipe://localhost/wingman/" binding="netNamedPipeBinding" name="WingmanSvc" contract="WingmanLib.IWingmanService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WingmanServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding transferMode="Buffered">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>