<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="GamePipeService.GameProviderService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="StreamedBinding" name="InfoProvider" contract="GamePipeLib.Interfaces.IAppProvider">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/GamePipeService/SampleService/"/>
            <add baseAddress="net.tcp://localhost:41650/gamepipe/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="StreamedBinding" receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807" maxBufferSize="16777215">
          <security mode="None"/>
        </binding>
        <binding receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807" maxBufferSize="16777215">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
